.product-content {
  flex: 3;

  .thumbnail {
    display: inline-block;
    width: 25px;
    height: 25px;
  }

  .product-name, .product-price {
    display: inline-block;
  }

  label {
    color: #999;
    font-weight: bold;
    margin-right: 10px;
  }
}
