.product-content {
  flex: 3;

  .thumbnail {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    img {
      width: auto;
      height: 100%;
    }
  }

  li a {
    display: flex;
  }

  .thumbnail {
    width: 30px;
  }

  .product-name {
    flex: 5;
  }

  .product-price {
    background: #EAEAEA;
    color: #222;
    border-radius: 3px;
    padding: 0 5px;
    font-weight: bold;
  }

  label {
    color: #999;
    font-weight: bold;
    margin-right: 10px;
  }
}
